<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoAddder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AutoAddder.Properties.Settings>
            <setting name="Attempts_X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Attempts_Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Interupt_X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Interupt_Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TelegramKit_X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TelegramKit_Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VyperVpn_X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VyperVpn_Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Attempts" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ForEach" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CyberVpn_X" serializeAs="String">
                <value>1760</value>
            </setting>
            <setting name="CyberVpn_Y" serializeAs="String">
                <value>646</value>
            </setting>
        </AutoAddder.Properties.Settings>
    </userSettings>
</configuration>